# These properties control the asynchronous painting of JPIP data.
# Please refer to 'resources/lucy/decoders/default_decoders.cfg' for an in-depth explanation of the properties.
TLcyJPIPDecoderAddOn.asynchronous                        = true
TLcyJPIPDecoderAddOn.asynchronous.mergeGroup             = jpip # use a separate group as JPIP servers are often rather slow
TLcyJPIPDecoderAddOn.asynchronous.bodiesOnly             = true
TLcyJPIPDecoderAddOn.asynchronous.intermediateUpdateInterval = 0
TLcyJPIPDecoderAddOn.asynchronous.minimumThreadPriority  = 0

# This property specifies the label placement group for layers of this format. Layers from the
# same labeling group are labeled and decluttered together.
TLcyJPIPDecoderAddOn.labelPlacementGroup = background

# This property controls the model sharing when decoding the same source file multiple times
# Please refer to 'resources/lucy/decoders/default_decoders.cfg' for an in-depth explanation of this property.
TLcyJPIPDecoderAddOn.sharedModels                         = true

## Specify the properties file that describes the default style for JPIP rasters.
TLcyJPIPDecoderAddOn.rasterGXYLayerCodec.defaultProperties = lucy/decoders/defaultRaster.sty
