TLcyDIMAPDecoderAddOn.DIMAPFormat.fileTypeDescriptor.displayName      = DIMAP Files
TLcyDIMAPDecoderAddOn.DIMAPFormat.fileTypeDescriptor.defaultExtension = dim
TLcyDIMAPDecoderAddOn.DIMAPFormat.fileTypeDescriptor.filters          = *.dim
TLcyDIMAPDecoderAddOn.DIMAPFormat.fileTypeDescriptor.groupIDs         = All Raster Files
# These properties control the asynchronous painting of DIMAP data.
# Please refer to 'resources/lucy/decoders/default_decoders.cfg' for an in-depth explanation of the properties.
TLcyDIMAPDecoderAddOn.DIMAPFormat.asynchronous                        = true
TLcyDIMAPDecoderAddOn.DIMAPFormat.asynchronous.mergeGroup             = 
TLcyDIMAPDecoderAddOn.DIMAPFormat.asynchronous.bodiesOnly             = true
TLcyDIMAPDecoderAddOn.DIMAPFormat.asynchronous.intermediateUpdateInterval = 0
TLcyDIMAPDecoderAddOn.DIMAPFormat.asynchronous.minimumThreadPriority  = 0

# This property specifies the label placement group for layers of this format. Layers from the
# same labeling group are labeled and decluttered together.
TLcyDIMAPDecoderAddOn.DIMAPFormat.labelPlacementGroup = background

# This property controls the model sharing when decoding the same source file multiple times
# Please refer to 'resources/lucy/decoders/default_decoders.cfg' for an in-depth explanation of this property.
TLcyDIMAPDecoderAddOn.DIMAPFormat.sharedModels                         = true

# Specify the properties file that describes the default style for DIMAP rasters.
TLcyDIMAPDecoderAddOn.DIMAPFormat.rasterGXYLayerCodec.defaultProperties = lucy/decoders/defaultRaster.sty
