# TLcyFusionRasterFormatAddOn Configuration

# Format settings
TLcyFusionRasterFormatAddOn.FusionFormat.asynchronous = true
TLcyFusionRasterFormatAddOn.FusionFormat.asynchronous.mergeGroup = Fusion
TLcyFusionRasterFormatAddOn.FusionFormat.asynchronous.bodiesOnly = false
TLcyFusionRasterFormatAddOn.FusionFormat.asynchronous.intermediateUpdateInterval = 0
TLcyFusionRasterFormatAddOn.FusionFormat.asynchronous.minimumThreadPriority  = 0

# This property specifies the label placement group for layers of this format. Layers from the
# same labeling group are labeled and decluttered together.
TLcyFusionRasterFormatAddOn.FusionFormat.labelPlacementGroup = background

