# These properties control the asynchronous painting of WFS data.
# Please refer to 'resources/lucy/decoders/default_decoders.cfg' for an in-depth explanation of the properties.
TLcyWFSClientAddOn.asynchronous=true
TLcyWFSClientAddOn.asynchronous.mergeGroup=WxS
TLcyWFSClientAddOn.asynchronous.bodiesOnly=false
TLcyWFSClientAddOn.asynchronous.intermediateUpdateInterval = 0
TLcyWFSClientAddOn.asynchronous.minimumThreadPriority = 0

# This property specifies the label placement group for layers of this format. Layers from the
# same labeling group are labeled and decluttered together.
TLcyWFSClientAddOn.labelPlacementGroup = background

# Please refer to 'resources/lucy/lucy.cfg' for more information about configuring menu items.
TLcyWFSClientAddOn.WFSClientAction.menuBar.item=Map, cartografia.Data, WFS Client...
TLcyWFSClientAddOn.WFSClientAction.menuBar.groups=MapGroup, MapSubMenuGroup, DataPanelNetworkGroup


# The path to a file with predefined URLs of WFS servers.
TLcyWFSClientAddOn.predefinedurls.path=lucy/wfsclient/predefined.wfs
